@font-face {
  font-family: AeonikWeb;
  src: url(/assets/fonts/aeonik-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AeonikWeb;
  src: url(/assets/fonts/aeonik-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: AeonikWeb;
  src: url(/assets/fonts/aeonik-bold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-primary-hsl: 161 82% 29%;
  --clr-primary: 13 137 98;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-aeonik-regular: "AeonikWeb", serif;
  --fff-inter: "Inter", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-aeonik-regular);
  font-size: 14px;
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-primary {
  background-color: hsl(var(--clr-primary-hsl));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-primary {
  font-family: var(--ff-aeonik-regular);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mx-4 {
  margin: 0 4rem;
}

.mx-5 {
  margin: 0 5rem;
}

.mx-auto {
  margin: 0 auto;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.text-md {
  font-size: var(--md);
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: var(--sm);
}
.text-md {
  font-size: var(--md);
}
.text-nor {
  font-size: var(--nor);
}
.text-muted {
  color: var(--disabled-color);
}
.text-lg {
  font-size: var(--lg);
}

.text-xd {
  font-size: var(--xd);
}

.text-bold {
  font-weight: bold;
}

.text-primary {
  color: var(--primary);
}

.btn {
  outline: none;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 0.4rem;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}

.form-input {
  outline: none;
  border: none;
  height: 40px;
  padding: 0px 8px;
  border-radius: 0.4rem;
}

/* ------------------- */
/*    Nav Bar            */
/* ------------------- */

section#navigation {
  position: fixed;
  width: 100%;
}

.navbar,
.navbar .main {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.navbar {
  padding: 1.5rem 0;
  width: 100%;
}

.navbar .main {
  min-width: 300px;
}

.navbar .logo {
  font-weight: bold;
}

.navbar .menu {
  display: flex;
  gap: var(--gap, 1rem);
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar menu li {
}

.nav-link {
  text-decoration: none;
  color: hsl(var(--clr-white));
  transition: color 0.6s cubic-bezier(0.32, 0.94, 0.6, 1);
  position: relative;
}

.nav-link:hover {
  color: hsl(var(--clr-white));
}

.nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.1rem;
  background-color: currentColor;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.32, 0.94, 0.6, 1);
}

.nav-link:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

/* ------------------- */
/*         Landing     */
/* ------------------- */

section#landing {
  background: hsl(var(--clr-primary-hsl));
  height: 100vh;
}

section#landing .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .content-body {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
}

.content .content-body img {
  border: 1px solid red;
  width: 500px;
}

.content-text {
  text-align: center;
}

.header {
  font-weight: bold;
  font-size: 32px;
}

/* ------------------- */
/*     Value     */
/* ------------------- */
.segment {
  min-height: 100vh;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}
